<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>*/5 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

# Define variables
LOG_FILE=&quot;/var/log/jenkins/floating_ip_response.log&quot;  # Path to the log file
FLOATING_IP=&quot;172.18.0.100:80&quot;  
TIMESTAMP=$(date +&quot;%Y-%m-%d %H:%M:%S&quot;)

# Get the hostname and remove any carriage return character
container_id=$(curl -s -I $FLOATING_IP | grep -i &apos;container_id&apos; | awk &apos;{print $2}&apos; | tr -d &apos;\r&apos;)
container_name=$(curl -s -I $FLOATING_IP | grep -i &apos;container_name&apos; | awk &apos;{print $2}&apos; | tr -d &apos;\r&apos;)

# Perform the cURL command and capture runtime using &apos;time&apos; command
{
    # Log the timestamp, container ID, and container name
    echo -e &quot;[$TIMESTAMP] Active server:&quot;
    echo -e &quot;container_id: $container_id&quot;
    echo -e &quot;container_name: $container_name\n&quot;
    
    echo &quot;Response:&quot;

    # Run the cURL command and measure its runtime
    time curl -s $FLOATING_IP

    # Log separator to distinguish different entries
    echo &quot;---------------------------------------------&quot;
    echo &quot;&quot;
} &gt;&gt; $LOG_FILE 2&gt;&amp;1  # Redirect both stdout and stderr to the log file
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>